@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: NewSunPlayFul; /* Nome que você quer dar à sua fonte */
    src: url('./fonts/newsun.eot'); /* Para navegadores IE9 e mais antigos */
    src: url('./fonts/newsun.eot?#iefix') format('embedded-opentype'), /* Correção para o IE */
         url('./fonts/newsun.ttf') format('truetype'); /* Para outros navegadores */
    /* Adicione outras variações de fonte aqui, se disponíveis */
}

body {
    height: 100vh;
    width: 100vw;

    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes little-bounce {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-5%, 5%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes little-ping {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes little-spin {
    0% {
        
    }
}

.titulo {
    font-family: NewSunPlayFul;
}

.bg-start{
    background-image: url("./imgs/backgrounds/bg-start.svg");
    background-size: cover;
}

.title-effect {
    top: -50%;
}