@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Caveat;
    src: url('./fonts/Caveat-VariableFont_wght.ttf');
}

body {
    height: 100vh;
    width: 100vw;

    background-size: cover;
    font-family: Caveat;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes little-bounce {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-5%, 5%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes little-ping {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes little-spin {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(-10deg);
    }

    0% {
        transform: rotate(0);
    }
}

.titulo {
    font-family: NewSunPlayFul;
}

.bg-start{
    background-image: url("./imgs/backgrounds/bg-start.svg");
    background-size: cover;
    background-position: right;
}

.bg-large{
    background-image: url("./imgs/backgrounds/bg-large.svg");
    background-size: cover;
    background-position: right;
}

.title-effect {
    top: -50%;
}

.text-6xl {
    font-size: 3.75rem; /* 3rem * 1.25 = 3.75rem */
  }
  
  .text-7xl {
    font-size: 4.5rem; /* 3.75rem * 1.2 = 4.5rem */
  }
  
  .text-8xl {
    font-size: 5.5rem; /* 4.5rem * 1.22 ≈ 5.5rem */
  }
  
  .text-9xl {
    font-size: 6.75rem; /* 5.5rem * 1.22 ≈ 6.75rem */
  }
  
  .text-10xl {
    font-size: 8rem; /* 6.75rem * 1.19 ≈ 8rem */
  }
  